
    <%- contentFor('booking') %>
    <% include header.ejs%>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" 
   style="background-color:#E8EAF6; color:aliceblue;height: 40px;">
      &nbsp;<a class="navbar-brand" href="#"><i class="fa fa-codepen"></i> HotelGuide Admin</a>
    </div>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other Bookings <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Log Out <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    
  </div>
</nav> -->
    	<div class="container-fluid" style="background: #fff; height: 100%;">
    		<br><br>
    		<div class="row">
    			<div class="col-sm-9">
         		<p class="txt-bold">Reservations Direct for Hotel Guide</p>
              		<% if((data.length) > 0) {%>
              		<table class="table table-bordered table-">
                    <thead>
	
                    <tr>
		                <th>Name</th>
		                <th>Email</th>
		                <th >Phone</th>
		                <th >Check In</th>
		                <th >Check Out</th>
		                <th >Room Type</th>
                    <!-- <th >Rooms Available (Remaining)</th> -->
		                <th >Payment</th>
		                <th >Amount ($)</th>
                    <th >Status</th>
                    <th >Actions</th>
                    </tr>

                       
                    </thead>
                    <tbody>
                        <%data.forEach(function(users){%>
                        	<tr>
                            <td><%= users.fullname %></td>
                            <td><%= users.email %></td>
                            <td><%= users.phonenumber %></td>
                            <% users.hotel.forEach(function(k){%>
                            <td><%= k.checkin_date %></td>
                            <td><%= k.checkout_date %></td>
                            <td><%= k.room_type %></td>
                            <td><%= k.payment_method %></td>
                             <td><%= k.amount %></td>
                           <!--  <td><%= k.status %></td> -->
                             <!-- <td><%= k.amount %></td> -->
                            <%})%>
                                <td><%if(users.status !== "paid"){%>
                              <i class="fa fa-circle-o text-orange "></i> <%= users.status %>
                              <a href="#"> <span class="badge badge-success">Update</span></a>
                              <%}else{%>
                              <i class="fa fa-circle-o text-green "></i> <%= users.status %>
                              <% }%>
                            </td>
                             <td>
                               <a href="#"> Release</a>
                               
                             </td>
                        </tr>
                        <%});%>
                    </tbody>

                </table>
                <%} else{%>
                	<div class="alert alert-warning"><p>Am lonely here, please add some data!!</p></div>
                <%}%>
              	

      	 </div>
      	 <div class="col-sm-3"> 
      	 	<p class="txt-bold">Room Types and Status</p>
      	 		<ul class="list-groug" id="rooms_av">
      	 			<li class="list-unstyled"><p><b>Delux Single</b>  &nbsp;<span class="badge badge-info">10</span></p></li>	
      	 		</ul>
      	 </div>

    </div>

    	</div>
  

    
      <% include footer.ejs%>
   <!-- <footer class="footer" style="padding:10px; position: relative bottom: 0; background: #222;width: 100%;">
      <div class="container text-center">
        <span class="text-muted">&copy; 2018 Hotel Guide | All Rights Reserved.</span>
      </div>
    </footer> -->